pipeline/PL_MoveSinglefileUsingVariableFromHTTPToADLSGen2.json
{
	"name": "PL_MoveSinglefileUsingVariableFromHTTPToADLSGen2",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SourceHTTP",
						"type": "DatasetReference",
						"parameters": {
							"BaseURL": {
								"value": "@variables('SourceBaseURL')",
								"type": "Expression"
							},
							"RelativeURL": {
								"value": "@variables('SourceRelativeURL')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_TargetHTTPFileToADLSGen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceRelativeURL",
					"value": "suresh12345/AzureDataEngineering_Batch/main/ecdc_data/cases_deaths.csv"
				}
			}
		],
		"variables": {
			"SourceBaseURL": {
				"type": "String",
				"defaultValue": "https://raw.githubusercontent.com/"
			},
			"SourceRelativeURL": {
				"type": "String",
				"defaultValue": "suresh12345/AzureDataEngineering_Batch/main/ecdc_data/testing.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-23T09:29:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}